/*************************booking-layout***********************/

/***************************mobilsite***************************/

main {
  padding: 40px;
  padding-top: 25px;
}

form {
  padding-top: 40px;
}

.bookingtype select {
  font-size: 1.2rem;
  padding: 0.75rem 1rem;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.antalgæster select {
  font-size: 1.2rem;
  padding: 0.75rem 1rem;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.vælgdato input {
  font-size: 1.2rem;
  padding: 0.75rem 1rem;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.navn input {
  padding: 1.5rem 1rem;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#navn {
  width: 425px;
  height: 30px;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.telefon input {
  padding: 1.5rem 1rem;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#telefon {
  width: 425px;
  height: 30px;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.email input {
  padding: 1.5rem 1rem;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
#email {
  width: 425px;
  height: 30px;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#beskriv {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.submit {
  padding-top: 40px;
}

.submit .button {
  background-color: #f9faf2;
  color: #381b0e;
  text-align: center;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
  align-self: flex-start;
  text-decoration: none;
  font-family: "glocester";
}
.submit .button:hover {
  background-color: #cc6907;
  color: #f9faf2;
}
form {
  line-height: 50px;
}

.text1 div {
  padding-bottom: 50px;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.underline1book {
  border-bottom: 2px solid #cc6907;
  display: inline-block; /* so the border fits the text width */
  padding-bottom: 5px;
}

.underline2book {
  border-bottom: 2px solid #cc6907;
  display: inline-block; /* so the border fits the text width */
  padding-bottom: 5px;
}
/*************************desktop***********************/

@media (min-width: 800px) {
  main {
    padding: 60px;
  }

  form {
    text-align: center;
  }

  .submit {
    text-align: center;
    padding-top: 40px;
  }

  .text1 {
    padding-bottom: 50px;
  }
}

/*************************booking-style***********************/

h1 {
  color: #f9faf2;
  font-size: 2.8rem;
  font-family: "glocester";
  padding-bottom: 40px;
  padding-top: 50px;
}

h2 {
  color: #f9faf2;
  font-size: 2rem;
  font-family: "glocester";
}

h3 {
  color: #381b0e;
  font-size: 2rem;
  font-family: "glocester";
}

p {
  color: #f9faf2;
  font-size: 1.7rem;
  font-family: "glocester";
}

main {
  background-color: #381b0e;
}

header {
  background-color: #f9faf2;
}

@font-face {
  font-family: "glocester";
  src: url(fonts/gloucester_font_2-webfont.woff2);
}

@media (min-width: 800px) {
  h1 {
    color: white;
    font-size: 58px;
    font-family: "glocester";
  }

  h2 {
    color: white;
    font-size: 38px;
    font-family: "glocester";
  }

  p {
    color: white;
    font-size: 1.7rem;
    font-family: "glocester";
  }
}
