/*************** STYLE *********************/

header {
  background-color: #f9faf2;
}
/* General Styles */

body {
  font-family: "glochester";
  background-color: #381b0e;
  margin: 0;
  padding: 0;
}

.grid-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
  padding: 2rem;
}

.card {
  position: relative;
  background-color: #f1e1c6;
  color: #3e1e10;
  overflow: hidden;
  border-radius: 8px;
  text-decoration: none;
  font-family: "glochester";
}

.card img {
  width: 100%;
  /* height: 80%; */
  aspect-ratio: 4/3;
  object-fit: cover;
  display: block;
  border-bottom: 3px solid #cc6907;
}

.card h2 {
  font-size: 2.5rem;
  margin: 0.5rem 1rem 0;
  font-family: "glochester";
}

.billede2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.feature-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 40px;
  background-color: #cc6907;
}

.feature-box {
  background-color: #3e1e10;
  color: #f9faf2;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  text-align: left;
}

.feature-box img {
  max-width: 100%;
  border-radius: 8px;
}

.feature-box h2 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 15px;
}

.feature-box li {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.a {
  text-decoration: none;
  list-style: none;
}
.feature-box .button {
  background-color: #f9faf2;
  color: #3e1e10;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  align-self: flex-start;
  list-style: none;
  text-decoration: none;
}
.feature-box .button:hover {
  background-color: #cc6907;
  color: #3e1e10;
  list-style: none;
}

@media (max-width: 768px) {
  .grid-section {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 800px) {
  .feature-section {
    grid-template-columns: 1fr;
  }
  .featured {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .featured img {
    max-width: 100%;
    margin-top: 20px;
  }

  .featured-text {
    max-width: 100%;
  }
}
