/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "glochester";
  src: url(fonts/gloucester-mt-extra-condensed-webfont.woff2);
}

html {
  --brun: #381b0e;
}
body {
  /* Backgrundsfarve/ */
  background-color: var(--brun);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

nav {
  background-color: #f9faf2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  width: 100%;
  z-index: 1000;
  font-family: "glochester";
}

.logo {
  width: 70px;
}

/* Desktop Menu */
.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li a {
  text-decoration: none;
  color: #cc6907;
  font-size: 34px;
  transition: color 0.3s;
}

.menu li a:hover {
  color: #f1e1c6;
}

dotlottie-player {
  width: 70px;
}
/***********footer*********/

.followuson {
  font-family: "glochester";
  padding-top: 8px;
  font-size: 35px;
  text-align: center;
}

.address-link {
  color: #381b0e;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.address-link:hover {
  color: #cc6907;
  transform: scale(1.05);
  text-decoration: underline;
}

.email-link {
  color: #381b0e;
  text-decoration: none;
}
footer {
  background-color: #f9faf2;
  align-items: center;
}
.footer1 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.email-link:hover {
  text-decoration: underline;
  color: #cc6907;
}

.footer2 {
  text-align: center;

  padding-top: 10px;
}

.aabningstider {
  padding-top: 10px;
}

.aabningstid1 {
  padding: 20px;
}

.aabningstid2 {
  padding: 20px;
}

.footerlogo {
  width: 200px;
  margin: 0 auto;
  padding: 10px 20px;
}

.social-logo {
  transition: transform 0.2s;
}
.social-logo:hover {
  transform: scale(1.1);
}

.socialstab {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
  align-items: center;
}

.forrest {
  order: -1;
}

.micon {
  width: 200px;
}

.sicon {
  width: 75px;
  height: 75px;
}

.sponsor {
  width: 300px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  /***********footer*********/

  .followuson {
    font-family: "glochester";
    padding-top: 8px;
    font-size: 35px;
    text-align: center;
  }

  .address-link {
    color: #381b0e;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
  }

  .address-link:hover {
    color: #cc6907;
    transform: scale(1.05);
    text-decoration: underline;
  }

  .email-link {
    color: #381b0e;
    text-decoration: none;
  }
  footer {
    background-color: #f9faf2;
    align-items: center;
  }
  .footer1 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .email-link:hover {
    text-decoration: underline;
    color: #cc6907;
  }

  .footer2 {
    text-align: center;

    padding-top: 10px;
  }

  .aabningstider {
    padding-top: 10px;
  }

  .aabningstid1 {
    padding: 20px;
  }

  .aabningstid2 {
    padding: 20px;
  }

  .footerlogo {
    width: 200px;
    margin: 0 auto;
    padding: 10px 20px;
  }

  .social-logo {
    transition: transform 0.2s;
  }
  .social-logo:hover {
    transform: scale(1.1);
  }

  .socialstab {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;
    align-items: center;
  }

  .forrest {
    order: -1;
  }

  .micon {
    width: 200px;
  }

  .sicon {
    width: 75px;
    height: 75px;
  }

  .sponsor {
    width: 300px;
    margin: 0 auto;
  }
}

/******header****/

a.nav-link {
  color: black;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  padding-bottom: 5px;
}

a.nav-link:hover {
  color: #cc6907;
}

a.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #cc6907;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

a.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a.nav-link.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a.nav-link.active {
  color: #cc6907;
}
